body {
    background-color: rgb(34, 40, 49);
    font-family: Verdana;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(rgba(34, 40, 49, 0.75), rgba(34, 40, 49, 0.75)), url(img/FondoPrincipal.jpg) no-repeat center center fixed;
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    border-bottom: 4px solid rgb(0, 173, 181);
}

#logo {
    width: 100px;
    height: 100px;
    padding-bottom: 25px;
}

#titulo {
    color: rgb(238, 238, 238);
}

#menu {
    display: flex;
    justify-content: space-between;
}

a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    padding: 20px;
}

a:hover {
    color: rgb(0, 173, 181);
}

/* Ajustamos el contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.principal {
    display: flex;
    justify-content: center;
}

.conteiner, .conteinerResult {
    background-color: rgb(34, 40, 49);
    padding: 20px;
    box-shadow: 0 0 20px rgba(34, 40, 49, 0.2);
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
    color: rgb(238, 238, 238);
}

.conteiner {
    z-index: 1;
}

.conteinerResult {
    z-index: 0;
    opacity: 0;
    transform: translateX(100%);
}

.conteinerResult.active {
    opacity: 1;
    transform: translateX(0);
}

form {
    background-color: rgb(34, 40, 49);
    padding: 30px 35px;
    border-radius: 20px;
    text-align: center;
}

#conteinerInput {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: rgb(238, 238, 238);
    font-size: 35px;
}

p, label {
    color: rgb(238, 238, 238);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input {
    padding: 10px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(238, 238, 238);
    color: rgb(34, 40, 49);
    outline: none;
}

input::placeholder {
    color: rgb(0, 173, 181);
}

#boton {
    font-size: 16px;
    color: rgb(238, 238, 238);
    border-radius: 25px;
    background-color: rgb(0, 173, 181);
    cursor: pointer;
}

.labelError {
    display: none;
    color: red;
}

#errorName.activo {
    display: inline;
}

#errorEmail.activo {
    display: inline;
}

#errorTelefono.activo {
    display: inline;
}