body {
    background-color: rgb(34, 40, 49);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    border-bottom: 4px dotted rgb(238, 238, 238);
}

#logo {
    width: 100px;
    height: 100px;
    padding-bottom: 25px;
}

#titulo{
    color: rgb(238, 238, 238);
}

#menu{
    display: flex;
    justify-content: space-between;
}

a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    padding: 20px;
}

a:hover {
    color: rgb(0, 173, 181);
}

#contenedor {
    display: flex;
    flex-wrap: wrap; /* Asegura que las columnas se mantengan en una sola fila */
    justify-content: space-between; /* Espacio entre columnas */
}

.pilotos{
    flex: 0 0 49%; /* Hace que cada columna ocupe el 49% del ancho del contenedor */
    padding: 10px;
    box-sizing: border-box;
}

p,h2,h3 {
    color: rgb(238, 238, 238);
}

.imgPiloto{
    padding-left: 30%;
    width: 200px;
    height: 200px;
}